@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap");

html,
body {
  font-family: "Roboto", "Nanum Gothic", cursive, "Dotum", Helvetica, Arial,
    sans-serif;
  background-color: rgb(200, 200, 200);
  text-transform: none;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* Bouton d'ouverture / fermeture */
.volet #boutonVolet {
  display: block;
  margin: auto;
  top: 20px;
  width: 25%;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  background-color: rgb(150, 0, 195);
  cursor: pointer;
  border: none;
  opacity: 1;
  position: relative;
  z-index: 100;
}

.volet #boutonVolet:hover {
  background-color: #ff5722;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}
/* Volet haut */
.volet #voletHaut {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99;

  /* Centrage horizontal et vertical */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Transition CSS sur l'opacité */
  opacity: 1;
  transition: top 1.5s;
}

.volet #voletHaut.open {
  top: -100%;
}

/*
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * autoText
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */
#autoText {
  font-size: 60px;
  color: rgb(150, 0, 195);
  font-family: "Turret Road", cursive;
  text-align: center;
  font-weight: bold;
  z-index: 99;
  border-right: 0.15em solid rgb(150, 0, 195);
  letter-spacing: 0.05em;
  animation: blink 0.75s step-end infinite;
}
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(150, 0, 195);
  }
}

/*
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * cube animé
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #2742df;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 4s ease-in forwards infinite;
}

.cube:nth-child(1) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 75vw;
  top: 50vh;
  border: solid 1px #cc149e;
}
.cube:nth-child(3) {
  animation-delay: 3s;
  left: 90vw;
  top: 10vh;
  border: solid 1px #15af36;
}
.cube:nth-child(4) {
  animation-delay: 5s;
  left: 10vw;
  top: 80vh;
  border: solid 1px #000000;
}
.cube:nth-child(5) {
  animation-delay: 6s;
  left: 50vw;
  top: 10vh;
  border: solid 1px #dbf113;
}
.cube:nth-child(6) {
  animation-delay: 9s;
  left: 15vw;
  top: 30vh;
  border: solid 1px #ff0000;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/* Bouton d'ouverture / fermeture */
#boutonRond {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  width: 75px;
  height: 55px;
  border-radius: 50px;
  background-color: rgb(150, 0, 195);
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: all 0.3s ease 0s;
  z-index: 90;
  position: relative;
}

#boutonRond:hover {
  background-color: #ff5722;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(10px);
}

/* RESPONSIVE */
@media only screen and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  #autoText {
    font-size: 30px;
  }

  /* Bouton d'ouverture / fermeture */
  .volet #boutonVolet {
    width: 20%;
    font-size: 12px;
  }
}

/* mainBox */
#mainBox {
  position: fixed;
  top: 3%;
  left: 1%;
  right: 1%;
  bottom: 2%;
  background-color: rgb(226, 226, 226);
  border-radius: 0.5em;
}

#box1 {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 0.5em;
  background-color: rgb(150, 0, 195);
  z-index: 1;
}

/* Fonts */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

@keyframes load {
  from {
    width: 0;
  }
  /*0%   {width:0; background-color:#eee;}*/
  /*25%  {width:0; background-color:#eee;}*/
  /*50%  {width:0; background-color:#eee;}*/
  /*100% {width:0; background-color:#eee;}*/
}

.wrapper {
  display: table;
  width: auto;
  height: auto;
}

.card-container {
  display: table-cell;
  width: 100%;
  min-height: 50px;
  vertical-align: middle;
}

.card-inner {
  position: relative;
  width: auto;
  height: 550px;
  margin: 0 auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
}

.card-group {
  width: 280px;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card-face {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; /* 뒷면 숨기기 */
}

.card-front {
  background: #fff;
  z-index: 10;
}

.card-back {
  display: table;
  background: #fff;
  text-align: center;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-inner:hover .card-group {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card-inner:hover .front {
  z-index: 0;
}

.cover {
  width: 100%;
  height: 120px;
  background: url("http://www.feversore.com/images/img_564.jpg") no-repeat 50%
    50%;
  background-size: cover;
}

.thumb {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  width: 90px;
  height: 90px;
  margin: 75px 0 0 -45px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.thumb img {
  width: 120px;
  height: 120px;
  margin: -10px 0 0 -15px;
  border-radius: 50%;
}

.info {
  padding-top: 55px;
}

.info li {
  display: block;
  text-align: center;
}

.info li:nth-child(1) {
  padding: 0 0 3px 0;
  font-size: 0.938em;
}

.info li:nth-of-type(1) ~ li {
  color: #888;
  font-size: 0.688em;
  font-weight: bold;
}

.skill {
  margin-top: 15px;
  padding: 0 15px;
}

.skill li {
  margin-bottom: 9px;
  font-size: 75%;
}

.skill em {
  display: block;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
}

.skill div {
  overflow: hidden;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.2);
}

.skill div span {
  display: block;
  height: 100%;
  border-radius: 10px;
  animation: load 0.8s cubic-bezier(0.5, 0.2, 0.1, 1.2);
}

.skill div span.html {
  width: 70%;
  background: #f5392b;
  animation-delay: 0.1s;
}

.skill div span.css {
  width: 55%;
  background: #ff7b00;
  animation-delay: 0.15s;
}

.skill div span.js {
  width: 50%;
  background: #ebee33;
  animation-delay: 0.25s;
}

.skill div span.python {
  width: 60%;
  background: #5df321;
  animation-delay: 0.3s;
}

.skill div span.cSharp {
  width: 60%;
  background: #21f3f3;
  animation-delay: 0.3s;
}

.skill div span.wordpress {
  width: 75%;
  background: #3621f3;
  animation-delay: 0.3s;
}

.skill div span.mInfo {
  width: 95%;
  background: #a621f3;
  animation-delay: 0.3s;
}

.skill div span.devisPC {
  width: 85%;
  background: #f321d0;
  animation-delay: 0.3s;
}

.card-back .content {
  display: table-cell;
  padding: 30px;
  vertical-align: middle;
}

.card-back .content p {
  font-size: 0.938em;
}

.card-back .content .contact {
  padding: 30px 0 0 0;
}

.card-back .content .contact:after {
  content: "";
  display: block;
  clear: both;
}

.card-back .content .contact li {
  float: left;
  width: 25%;
  display: inline-block;
}

.card-back .content .contact li a {
  display: inline-block;
  font-size: 120%;
  vertical-align: top;
  text-align: center;
}

.card-back .content .contact li a .fa {
  color: #222;
  font-size: 150%;
}

.card-back .content .contact li a:hover .fa {
  color: #1e90ff;
  transform: scale(1.2);
  transition: transform 0.1s ease;
}
