@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap");

body {
  font-family: "Sarabun", sans-serif;
  background-color: rgb(200, 200, 200);
  text-transform: none;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* Bouton d'ouverture / fermeture */
.volet #boutonVolet {
  display: block;
  margin: auto;
  top: 20px;
  width: 25%;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border-radius: 35px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  background-color: rgb(150, 0, 195);
  cursor: pointer;
  border: none;
  opacity: 1;
  position: relative;
  z-index: 100;
}

.volet #boutonVolet:hover {
  background-color: #ff5722;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(-7px);
}
/* Volet haut */
.volet #voletHaut {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99;

  /* Centrage horizontal et vertical */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Transition CSS sur l'opacité */
  opacity: 1;
  transition: top 1.5s;
}

.volet #voletHaut.open {
  top: -100%;
}

/*
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * autoText
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */
#autoText {
  font-size: 60px;
  color: rgb(150, 0, 195);
  font-family: "Turret Road", cursive;
  text-align: center;
  font-weight: bold;
  z-index: 99;
  border-right: 0.15em solid rgb(150, 0, 195);
  letter-spacing: 0.05em;
  animation: blink 0.75s step-end infinite;
}
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(150, 0, 195);
  }
}

/*
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * cube animé
 * ---------------------------------------------------------------------------------------------------------------------------------------------------------------------
 */
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #2742df;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 4s ease-in forwards infinite;
}

.cube:nth-child(1) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 75vw;
  top: 50vh;
  border: solid 1px #cc149e;
}
.cube:nth-child(3) {
  animation-delay: 3s;
  left: 90vw;
  top: 10vh;
  border: solid 1px #15af36;
}
.cube:nth-child(4) {
  animation-delay: 5s;
  left: 10vw;
  top: 80vh;
  border: solid 1px #000000;
}
.cube:nth-child(5) {
  animation-delay: 6s;
  left: 50vw;
  top: 10vh;
  border: solid 1px #dbf113;
}
.cube:nth-child(6) {
  animation-delay: 9s;
  left: 15vw;
  top: 30vh;
  border: solid 1px #ff0000;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/* Bouton d'ouverture / fermeture */
#boutonRond {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  width: 75px;
  height: 55px;
  border-radius: 50px;
  background-color: rgb(150, 0, 195);
  cursor: pointer;
  border: none;
  opacity: 1;
  transition: all 0.3s ease 0s;
  z-index: 90;
  position: relative;
}

#boutonRond:hover {
  background-color: #ff5722;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  transform: translateY(10px);
}

/* RESPONSIVE */
@media only screen and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  #autoText {
    font-size: 30px;
  }

  /* Bouton d'ouverture / fermeture */
  .volet #boutonVolet {
    width: 20%;
    font-size: 12px;
  }
}

/* mainBox */
#mainBox {
  position: absolute;
  top: 3%;
  left: 1%;
  right: 1%;
  bottom: 2%;
  background-color: rgb(226, 226, 226);
  border-radius: 0.5em;
}

#box1 {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 0.5em;
  background-color: rgb(150, 0, 195);
  z-index: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  height: 100%;
  border: 2px solid #ff5722;
  border-radius: 0.5em;
  background-color: rgb(150, 0, 195);
}
.two {
  grid-column: 3 / 5;
  grid-row: 1 / 5;
  border: 2px solid #ff5722;
  border-radius: 0.5em;
  background-color: rgb(150, 0, 195);
}
.three {
  grid-column: 1 / 5;
  grid-row: 5;
  border: 2px solid #ff5722;
  border-radius: 0.5em;
  background-color: rgb(150, 0, 195);
}
